<div class="container">
  <header class="chat-header" style="display: flex; justify-content: center;">
    <h3 class="title">Burada istediğin derste kendine göre quizler oluşturabilirsin. Unutma, gelişmenin tek yolu kendini sınamaktır.</h3>
  </header>
  <form [formGroup]="quizForm">
    <div class="quiz-selections">
      <mat-form-field class="selection" appearance="fill">
        <mat-label>Ders Seçimi</mat-label>
        <mat-select formControlName="ders" required>
          <mat-option value="turkce">Türkçe</mat-option>
          <mat-option value="matematik">Matematik</mat-option>
          <mat-option value="sosyal-bilgiler">Sosyal Bilgiler</mat-option>
          <mat-option value="fen-bilgisi">Fen Bilgisi</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="selection" appearance="fill">
        <mat-label>Soru Stili</mat-label>
        <mat-select formControlName="soruStili" required>
          <mat-option value="klasik tarz">Klasik Tarz</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="selection" appearance="fill">
        <mat-label>Zorluk Seçimi</mat-label>
        <mat-select formControlName="zorluk" required>
          <mat-option value="kolay">Kolay</mat-option>
          <mat-option value="orta">Orta</mat-option>
          <mat-option value="zor">Zor</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="selection" appearance="fill">
        <mat-label>Soru Sayısı</mat-label>
        <mat-select formControlName="soruSayisi" required>
          <mat-option *ngFor="let number of numbers" [value]="number">{{ number }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button type="button" class="generate-quiz-btn" (click)="onQuizGenerate()">Quizi Oluştur</button>
    </div>

    <div class="quiz-questions" *ngIf="questions.length > 0 && !isExamFinished">
      <div *ngFor="let question of questions; let i = index">
        <div *ngIf="question.type === 'open-ended'" class="question">
          <h3 class="question-text">{{ question.text }}</h3>
          <div class="answer">
            <textarea (input)="collectAnswer(question.questionId, $event)"></textarea>
          </div>
        </div>

        <div *ngIf="question.type === 'multiple-choice'" class="question">
          <h3 class="question-text">{{ question.text }}</h3>
          <ul>
            <li *ngFor="let choice of question.choices">
              <label>
                <input type="radio" name="{{ question.text }}" [value]="choice">
                {{ choice }}
              </label>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer">
        <div class="button-group" style="width: 50%;">
          <button mat-raised-button color="accent" (click)="finishExam()">Sınavı Bitir</button>
        </div>
        <div class="countdown" style="width: 50%;">
          <h2>Süre: {{ countdownDisplay }}</h2>
        </div>
      </div>
    </div>

    <!-- Cevapları Gösterme Bölümü -->
    <div *ngIf="isExamFinished">
      <h2>Sınav Sonuçları</h2>
      
      <div *ngFor="let question of questions">
        <h3 class="soru">Soru: {{ question.text }}</h3>
        <p><strong>Doğru Cevap:</strong> {{ correctAnswers[question.questionId] }}</p>
        <p><strong>Kullanıcı Cevabı:</strong> {{ userAnswers[question.questionId] }}</p>
        <p *ngIf="explanations[question.questionId]">
          <strong>Açıklama:</strong> {{ explanations[question.questionId] }}
        </p>
      </div>
      
      <button (click)="saveExamResults()">Sonuçları Kaydet</button>
    </div>
  </form>
</div>