<div class="quizzes">
  <h2>Kaydedilmiş Sınavlar</h2>

  <mat-form-field appearance="fill">
    <mat-label>Sınav Seç</mat-label>
    <mat-select [(value)]="selectedQuizId" (selectionChange)="viewQuizDetails($event.value)">
      <mat-option *ngFor="let quiz of quizzes" [value]="quiz.id">{{ quiz.title }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedQuiz">
    <h3>{{ selectedQuiz.title }}</h3>
    <div style="margin-top: 25px;" *ngFor="let question of selectedQuiz.results.questions">
      <p class="m-20"><strong>Soru: {{ question.text }} </strong></p>

      <div class="answer-comparison" >
        <p class="m-20"><strong>Kullanıcı Cevabı:</strong> {{ selectedQuiz.results.answers[question.questionId] }}</p>
        
        <p class="m-20"><strong>Doğru Cevap:</strong>
          {{ correctAnswers[question.questionId] || 'Doğru cevap yükleniyor...' }}
        </p>
      </div>
    </div>
  </div>
</div>