<div class="container">
    <h2>Ders Tekrarları</h2>
    
    <!-- Tarih Seçimi -->
    <form [formGroup]="lessonForm">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="date" (dateChange)="onDateChange($event)" placeholder="Tarih Seç">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  
    <!-- Ders tekrar bilgileri -->
    <div *ngIf="selectedLesson" class="lesson-info">
      <h3>{{ selectedLesson.title }}</h3>
      <p>{{ selectedLesson.content }}</p>
    </div>
  
    <!-- Eğer tekrar bilgisi yoksa uyarı -->
    <div *ngIf="!selectedLesson" class="no-lesson-info">
      <p>Seçilen gün için tekrar bilgisi bulunamadı.</p>
    </div>
  
    <!-- Ders Tekrarı Kartları -->
    
  </div>